div{

}

@font-face{
	font-family: 'Ostrich Sans';
	src: url(ostrich-sans-inline-regular.woff);
}

.content{

}


.container{
	margin-top: 30px;
	position: fixed;
	top: 0;

}

.header{
	width:100%;
	padding: 30px 0 10px 0;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-bottom: 30px;
    background-color: #5F367A;
    border-top: 10px solid white;
    z-index: 2;
	
}

.header h1{
	position: relative;
	top: -30px;
}

.navbar li{
	display: inline;
	margin: 20px 5px 0px 5px;
	font-family: 'Ostrich Sans';
	font-size: 24px;
	color: white;
	position: relative;
	left:250px;
	top: -36px;
	z-index: 2

}

.navbar {
	margin-left: 10px;
}

.navbar li a{
	color: white;

}

.article_link{
	padding-left: 6px;
	padding-right: 6px;
	text-align: center;
}


a:hover{
	text-decoration: underline;
}

.article {
	box-shadow: 5px 5px 5px black;
	margin: 140px 10px 0px 10px;
	display: inline-block;
	background-color: #A7A7B3;
	width:220px;
	height: 160px;
	vertical-align: top;
	font-family: 'Ostrich Sans';
	font-size: 20px;
	-webkit-transition: background .5s;


}

.article:hover{
	background: white;
}

.article h2{
	line-height: 25px;
}

.article h4{
	font-style: italic;
}



h4{
	padding-left: 6px;
	padding-right: 6px;
	text-align: center;
}


div h1 {
	font-family: 'Ostrich Sans';
	color: white;
	padding-left: 5px;
	margin-left: 5px;
	font-size: 50px;
	margin-bottom: 15px;
	display:inline;

}

a {
	text-decoration: none;
}

.footer{
	font-family: 'Ostrich Sans';
	font-size: 25px;
	clear: both;
	color: white;
	background: #5F367A;
	padding: 10px;
	position: fixed;
	bottom:0;
	left: 0;
	right: 0;
	width: 100%;
}
